body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2eaacc;
    color: white;
}
.container{
    text-align: center;
}    
.number-container{
    font-size: 3rem;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
button{
    background-color: #2ecc71;
    color: white;
    padding: 1rem 2rem;
    border: 0.1px dotted black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 2.5px 2.5px black;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #1a9a51;
}